.mysubmit {
  position: fixed;
  top: 80px;
  right: 13px;
  margin-top: 20px;
}

.mysubmit:hover {
  color:green;
}

.mycancel {
  position: fixed;
  right: 13px;
  top: 110px;
  margin-top: 20px;
  color: red;
}

.mycancel:hover {
  color:rgb(65, 61, 61);
}

.filtro {
  margin-bottom: 10px;
  float: inline-end;
}

.filtro input {
  border-radius: 5px;
}

.btnfiltro {
  position: relative;
}

.btnfiltro:hover {
  color:blue;
}
