{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Empresas{% endblock page_title %}

{% block content %}
<h1>Cadastro de Empresas</h1>
	<hr class="col-md-8">
	<div class="content">
		<form method="POST" class="row g-3" >
			{% csrf_token %}

			<!--{{ form.codigo|as_crispy_field }}-->
			{{ form|crispy }}

			
			<!--<div class="col-md-2">
				<label for="nome">Código</label>
				<input type="text" class="form-control mb-2" id="codigo" placeholder="Ex: 010101">
				</div>
			<div class="col-md-6">
				<label for="nome">Empresa</label>
				<input type="text" class="form-control mb-2" id="nome" placeholder="Nome da Empresa">
				</div>
			<div class="col-md-4">
				<label for="cnpj">CNPJ</label>
				<input type="text" class="form-control mb-2" id="cnpj" placeholder="CNPJ da Empresa">
				</div>
				<div class="form-group">
					<a href="{% url 'empresas' %}" class="btn btn-danger mt-4">Cancelar</a>
					</div>-->
				</div>
				<input type="submit" class="btn btn-primary mt-2" value="Confirmar">
			</form>
			<a href="{% url 'empresas' %}" class="btn btn-danger mt-2">Cancelar</a>
{% endblock content %}