{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Serviços{% endblock page_title %}
{% block title %} Cadastro de Serviços {% endblock title %}
{% block content %}
<div class="content">
	<form method="POST">{% csrf_token %}

		<div class="row">
			<div class="col-xs-4 mb-2 mt-2 p-2">
				
				{{ form|crispy }}
				
				<div class="mt-4" >
					<input type="submit" class="btn btn-primary" value="Confirmar">
					<a href="{% url 'servicos' %}" class="btn btn-danger">Cancelar</a>
				</div>

			</div>
		</div>

	</form>
</div>
{% endblock content %}