{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Colaboradores{% endblock page_title %}
{% block title %} Colaboradores {% endblock title %}
{% block active_cadastros %} active {% endblock active_cadastros %}
{% block content %}

	{% if inclui or altera %}

		<form method="POST">{% csrf_token %}
			{% crispy form %}
		</form>
		
	{% else %}

		<div class="table-responsive-sm">
			<table class="table table-sm table-hover">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Função</th>
						<th>Ativo</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for c in colaboradores %}
					<tr>
						<td>{{ c.codigo }}</td>
						<td>{{ c.nome }}</td>
						<td>{{ c.get_funcao_display }}</td>
						<td>{{ c.active }}</td>
						<td>
							<a href="{% url "colaboradores" opc='edit' pk=c.codigo %}" class="mx-2">
								<i class="fa fa-edit align-middle text-primary"></i>
							</a>
							<a href="{% url "colaboradores" opc='delete' pk=c.codigo %}">
								<i class="fa fa-times fs-5 align-middle text-danger"></i>
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		<a href="{% url "colaboradores" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Colaborador</a>
	{% endif %}

	{% if valores or altera %}
		<hr>
		<small class="text-muted">
			Histórico de valores:
		</small>
		<div class="table-responsive-sm">
			<table class="table table-sm table-striped table-bordered">
				<thead>
					<tr>
						<th>Data</th>
						<th>Valor Hora</th>
						<th>Valor Fixo</th>
						<th>Comissao</th>
						<th>Observação</th>
					</tr>
				</thead>
				<tbody>
					{% for valor in valores %}
					<tr>
						<td>{{ valor.data|date:'d/m/Y' }}</td>
						<td>{{ valor.valor_hora }}</td>
						<td>{{ valor.valor_fixo }}</td>
						<td>{{ valor.comissao }}</td>
						<td>{{ valor.observacao }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
			
{% endblock content %}