{% extends "base.html" %}
{% block page_title %}Empresas{% endblock page_title %}
{% block title %} Empresas {% endblock title %}
{% block content %}

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nome</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for e in empresa %}
			<tr>
				<td>{{ e.codigo }}</td>
				<td>{{ e.nome }}</td>
				<td>
					<a href="{% url "empresas" pk=e.codigo %}" class="btn btn-sm btn-secondary">Editar</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{% url 'cadastrar_empresa' %}" class="btn btn-primary mt-4">Cadastrar Empresa</a>

{% endblock content %}