{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Empresas{% endblock page_title %}
{% block title %} Empresas {% endblock title %}
{% block content %}

	{% if message %}
		<span class="text-{{ type }}">{{ message }}</span >
	{% endif %}

	{% if altera %}
		
		<form method="POST">{% csrf_token %}
			{% crispy form %}
			
			{% if message %}
        <span class="text-{{ type }}">{{ message }}</span >
      {% endif %}

		</form>

	{% elif inclui %}
		
		<form method="POST" id="{{ empresa.helper.codigo }}">{% csrf_token %}
			{% crispy form %}
			
			{% if message %}
        <span class="text-{{ type }}">{{ message }}</span >
      {% endif %}
			
		</form>

	{% else %}
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for e in empresa %}
				<tr>
					<td>{{ e.codigo }}</td>
					<td>{{ e.nome }}</td>
					<td>
						<a href="{% url 'empresas' opc='edit' pk=e.codigo %}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
						<a href="{% url 'empresas' opc='delete' pk=e.codigo %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
		<a href="{% url "empresas" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Empresa</a>
	{% endif %}

{% endblock content %}