{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Empresas{% endblock page_title %}
{% block title %} Empresas {% endblock title %}
{% block content %}

	{% if inclui or altera %}
		
		<form method="POST">{% csrf_token %}
			{% crispy form %}
		</form>

	{% else %}
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Nome</th>
					<th>CNPJ</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for e in empresa %}
				<tr>
					<td>{{ e.codigo }}</td>
					<td>{{ e.nome }}</td>
					<td>{{ e.cnpj }}</td>
					<td>
						<a href="{% url 'empresas' opc='edit' pk=e.codigo %}" class="mx-2">
							<i class="fa fa-edit align-middle text-primary"></i>
						</a>
						<a href="{% url 'empresas' opc='delete' pk=e.codigo %}">
							<i class="fa fa-times fs-5 align-middle text-danger"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
		<a href="{% url "empresas" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Empresa</a>
	{% endif %}

{% endblock content %}