{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Niveis{% endblock page_title %}
{% block title %} Niveis de Acesso {% endblock title %}
{% block content %}

	{% if inclui or altera %}

		<form method="POST">{% csrf_token %}
			{% crispy form %}
		</form>

	{% else %}

		<div class="table-responsive-sm">
			<table class="table table-sm table-hover">
				<thead>
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Rotina</th>
					<th>Ativo</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for n in niveis %}
				<tr>
					<td>{{ n.nivel_id }}</td>
					<td>{{ n.descricao }}</td>
					<td>{{ n.get_rotina_display }}</td>
					<td>{{ n.active }}</td>
					<td>
						<a href="{% url "niveis" opc='edit' pk=n.nivel_id %}" class="mx-2">
							<i class="fa fa-edit align-middle text-primary"></i>
						</a>
						<a href="{% url "niveis" opc='delete' pk=n.nivel_id	 %}">
							<i class="fa fa-times fs-5 align-middle text-danger"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
		
		<a href="{% url "niveis" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Nivel</a>
	{% endif %}
			
{% endblock content %}