{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Niveis{% endblock page_title %}
{% block title %} Niveis de Acesso {% endblock title %}
{% block content %}

	{% if altera %}

		<form method="POST">{% csrf_token %}
			
			{% crispy form %}
			
			{% if erro %}
				<div class="form-group">
					<p class="text danger">{{ erro }}</p>
				</div>
			{% endif %}
			
		</form>
		
	{% elif inclui %}
		
		<form method="POST" id="{{ nivel.helper.nivel_id }}">{% csrf_token %}
			{{ form|crispy }}

			<input type="submit" class="btn btn-primary mt-4" value="Confirmar">
			<a href="{% url 'niveis' %}" class="btn btn-danger mt-4 mx-2">Cancelar</a>
		</form>

	{% else %}

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Rotina</th>
					<th>Ativo</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				{% for n in niveis %}
				<tr>
					<td>{{ n.nivel_id }}</td>
					<td>{{ n.descricao }}</td>
					<td>{{ n.get_rotina_display }}</td>
					<td>{{ n.active }}</td>
					<td>
						<a href="{% url "niveis" opc='edit' pk=n.nivel_id %}" class="btn btn-sm btn-secondary">Editar</a>
						<a href="{% url "niveis" opc='delete' pk=n.nivel_id	 %}" class="btn btn-sm btn-danger">Excluir</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<a href="{% url "niveis" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Nivel</a>
	{% endif %}
			
{% endblock content %}