{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Niveis{% endblock page_title %}
{% block title %} Niveis de Acesso {% endblock title %}
{% block content %}

	{% if altera %}

		<div class="row">
			<div class="col-xs-4 mb-2 mt-2 p-2">
				<form method="POST">{% csrf_token %}
					
					{{ form.descricao|as_crispy_field }}
					{{ form.rotina|as_crispy_field }}
					{{ form.inclusao|as_crispy_field }}
					{{ form.edicao|as_crispy_field }}
					{{ form.exclusao|as_crispy_field }}
					{{ form.logs|as_crispy_field }}
					{{ form.filtro|as_crispy_field }}
					{{ form.active|as_crispy_field }}
					
					{% if erro %}
						<div class="form-group">
							<p class="text danger">{{ erro }}</p>
						</div>
					{% endif %}
					
					<input type="submit" class="btn btn-primary mt-4" value="Confirmar">
					<a href="{% url 'niveis' %}" class="btn btn-danger mt-4 mx-2">Cancelar</a>
					
				</form>
			</div>
		</div>
		
	{% elif inclui %}
		
		<form method="POST" id="{{ nivel.helper.nivel_id }}">{% csrf_token %}
			{{ form|crispy }}

			<input type="submit" class="btn btn-primary mt-4" value="Confirmar">
			<a href="{% url 'niveis' %}" class="btn btn-danger mt-4 mx-2">Cancelar</a>
		</form>

	{% else %}

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Código</th>
					<th>Descrição</th>
					<th>Rotina</th>
					<th>Ativo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for nivel in niveis %}
				<tr>
					<td>{{ nivel.nivel_id }}</td>
					<td>{{ nivel.descricao }}</td>
					<td>{{ nivel.get_rotina_display }}</td>
					<td>{{ nivel.active }}</td>
					<td>
						<a href="{% url "niveis" opc='edit' pk=nivel.nivel_id %}" class="btn btn-sm btn-secondary">Editar</a>
						<a href="{% url "niveis" opc='delete' pk=nivel.nivel_id	 %}" class="btn btn-sm btn-danger">Excluir</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<a href="{% url "niveis" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Nivel</a>
	{% endif %}
			
{% endblock content %}