{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Recuperação de Senha{% endblock page_title %}
{% block title %} Recuperação de Senha {% endblock title %}
{% block content %}

<div class="container">
	<form method="POST" class="row g-3">{% csrf_token %}
		
		<div class="row">
			<div class="col-xs-4 mb-2 mt-2 p-2">

				{% if sucess %}
					<div class="text-sucess">
						{{ message }} 
					</div>
				
					<a href="{% url 'home' %}" class="btn btn-danger mt-2">Voltar</a>
				{% else %}
			
					<form method="post">{% csrf_token %}
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control mb-2" name="email" placeholder="email@email.com.br" required >
							<!--<input class="mt-2" type="checkbox" name="first_login" />
							<label class="text" for="first">Primeiro Acesso</label> -->
						</div>
	
						{% if not sucess  %}
							<div class="text-danger">
								{{ message }} 
							</div>
						{% endif %}
							
						<div class="form-group">
							<input type="submit" value="Enviar" class="btn btn-primary mt-4">
							<a href="{% url 'home' %}" class="btn btn-danger mt-4">Cancelar</a></p>
						</div>
					</form>
				{% endif %}

			</div>
		</div>
	</form>
</div>
{% endblock content %}