{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Serviços{% endblock page_title %}

{% block head %}
{% endblock head %}

{% block title %} Serviços {% endblock title %}
{% block active_oportunidades %} active {% endblock active_oportunidades %}
{% block content %}

	{% if inclui or altera %}
		
		<form method="POST">
			{% csrf_token %}
			{% crispy form %}
		</form>

	{% else %}

		<div class="table-responsive-sm">
			<table class="table table-sm table-hover">
				<thead>
				<tr>
					<th>Codigo</th>
					<th>Descrição</th>
					<th>Versão</th>
					<th>Cliente</th>
					<th>Tipo</th>
					<th>Ação</th>
				</tr>
				</thead>
				<tbody>
					{% for s in servicos %}
					<tr>
						<td>{{ s.codigo }}</td>
						<td>{{ s.descricao }}</td>
						<td>{{ s.versao }}</td>
						<td>{{ s.cliente }}</td>
						<td>{{ s.tipo }}</td>
						<td>
							<a href="{% url "servicos" opc='edit' pk=s.codigo %}" class="mx-2">
								<i class="fa fa-edit align-middle text-primary"></i>
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		<a href="{% url 'servicos' opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Serviço</a>
	{% endif %}

	{% if altera %}
		<hr>
		<button type="button" class="btn btn-success btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#itemModal">Adicionar Item</button>
		
		<div id="information" class="mt-8 fs-5"></div>

		<!-- Modal -->
		<form method="post" action="{% url 'servicos' opc='item_add' %}" >
			{% csrf_token %}
			<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="itemModalLabel">Adicionar Item</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{% crispy form_item %}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-success btn-sm">Confirmar</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="table-responsive-sm">
			<table class="table table-sm table-striped table-bordered">
				<thead>
					<tr>
						<th>Item</th>
						<th>Descrição</th>
						<th>Sub Item</th>
						<th>Descrição</th>
						<th>Tipo</th>
						<th>Horas</th>
						<th>Save</th>
						<th>Execução</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
					<tr>
						<td>{{ item.item }}</td>
						<td>{{ item.descricao_item }}</td>
						<td>{{ item.sub_item }}</td>
						<td>{{ item.descricao_sub_item }}</td>
						<td>{{ item.tipo }}</td>
						<td>{{ item.horas }}</td>
						<td>{{ item.save }}</td>
						<td>{{ item.execucao }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	
{% endblock content %}

