{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Serviços{% endblock page_title %}
{% block title %} Serviços {% endblock title %}
{% block content %}

	{% if inclui or altera %}

		<form method="POST">
			{% csrf_token %}
			{% crispy form %}
			<div id='form-errors'>{{ form_errors }}</div>
		</form>
		
	{% else %}

		<div class="table-responsive-sm">
			<table class="table table-sm table-hover">
				<thead>
				<tr>
					<th>Codigo</th>
					<th>Descrição</th>
					<th>Versão</th>
					<th>Cliente</th>
					<th>Tipo</th>
					<th>Ação</th>
				</tr>
				</thead>
				<tbody>
					{% for s in servicos %}
					<tr>
						<td>{{ s.codigo }}</td>
						<td>{{ s.descricao }}</td>
						<td>{{ s.versao }}</td>
						<td>{{ s.cliente }}</td>
						<td>{{ s.tipo }}</td>
						<td>
							<a href="{% url "servicos" opc='edit' pk=s.codigo %}" class="mx-2">
								<i class="fa fa-edit align-middle text-primary"></i>
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		<a href="{% url "servicos" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Serviço</a>
	{% endif %}

	{% if valores or inclui or altera %}
	<hr>
	<small class="text-muted">
		Histórico de valores:
	</small>
	<div id="valores">
		<div class="table-responsive-sm">
			<table class="table table-sm table-striped table-bordered">
				<thead>
					<tr>
						<th>Data</th>
						<th>Tipo</th>
						<th>Codigo</th>
						<th>Valor Hora</th>
						<th>Valor Fixo</th>
						<th>Comissao</th>
						<th>Desconto</th>
					</tr>
				</thead>
				<tbody>
					{% for valor in valores %}
					<tr>
						<td>{{ valor.data|date:'d/m/Y' }}</td>
						<td>{{ valor.tipo }}</td>
						<td>{{ valor.codigo }}</td>
						<td>{{ valor.valor_hora }}</td>
						<td>{{ valor.valor_fixo }}</td>
						<td>{{ valor.comissao }}</td>
						<td>{{ valor.desconto }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
			
{% endblock content %}