{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %} Usuários {% endblock page_title %}
{% block title %} Usuários {% endblock title %}
{% block content %}
	
	{% if inclui or altera or visualiza %}

		{% if not visualiza %}
			<a class="mysubmit"  onclick="document.getElementById('my_form').submit();">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
				</svg>
			</a>
		{% endif %}

		<a class="mycancel" href="{% url "usuarios" %}">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
				<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
			</svg>
		</a>

	 	<form method="post" id="my_form">
			{% csrf_token %}

			{% if messages %}
				<div class="alert alert-danger" role="alert">
					<ul class="m-0 p-0" style="list-style: none;">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="accordion" id="accordionMain" >
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Cadastro
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionMain">
						<div class="accordion-body">
							{% crispy form %}
						</div>
					</div>
				</div>
			</div>
			
    </form>

	{% else %}
		
		{% if user.usefilter %}	
			<div class="filtro ">
				<form method="GET" id="form_filtro">
					{{ filter.form.name }}
					
					<a class="btnfiltro" onclick="document.getElementById('form_filtro').submit();">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
						</svg>
					</a>

					<!--<input class="filter_buttons" type="button" value="Limpar" onclick="limparCampos()" />-->
				</form>
			</div>
		{% endif %}
			
			{% if messages %}
				<div class="alert alert-danger" role="alert">
					<ul class="m-0 p-0" style="list-style: none;">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			
			<!-- botão inserir -->
			<div class="mb-2 mt-0 p-0">
				<a href="{% url 'usuarios' opc='insert' %}" >
					<i class="fa fa-plus-square fa-2x"  aria-hidden="true"></i>
				</a>
			</div>
			
			<!-- lista -->
			<table class="table table-sm-responsive">
				<thead class="table-dark" >
					<tr>
						<th>ID</th>
						<th>Primeiro Nome</th>
						<th>Nome</th>
						<th>E-mail</th>
						<th>Tipo</th>
						<th>Perfil</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
					{% for user in filter.qs %}
						{% if  user.active %}
							<tr class="">
						{% else %}
						<tr class="table-danger">
							{% endif %}
							<td>{{ user.user_id }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.name }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.get_tipo_display }}</td>
							<td>{{ user.perfil }}</td>
							<td>
								<a href="{% url "usuarios" opc='view' pk=user.email %}" class="mx-2">
									<i class="fa fa-eye align-middle text-dark"></i>
								</a>
								<a href="{% url "usuarios" opc='edit' pk=user.email %}" class="mx-2">
									<i class="fa fa-edit align-middle text-primary"></i>
								</a>
								<a href="{% url "usuarios" opc='delete' pk=user.email %}">
									<i class="fa fa-times fs-5 align-middle text-danger"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
					
				</tbody>
			</table>
		
	{% endif %}
	
<script>
	document.getElementById ("id_name").placeholder = "Nome ou E-mail";

	function limparCampos(){
		document.getElementById('id_name').value='';
		document.getElementById('id_email').value='';
		document.getElementById('form_filtro').submit();
	}
</script>

{% endblock content %}