{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %} Usuários {% endblock page_title %}
{% block title %} Usuários {% endblock title %}
{% block content %}
		
	{% if inclui %}

	 	<form method="post">{% csrf_token %}
      
      {% crispy form %}
      
      {% if message %}
        <span class="text-{{ type }}">{{ message }}</span >
      {% endif %}

    </form>

	{% elif altera %}
		
		<form method="POST" >{% csrf_token %}
			{% crispy form %}
			
			{% if erro %}
				<div class="form-group">
					<p class="text danger">{{ erro }}</p>
				</div>
			{% endif %}

		</form>

	{% else %}
		
	
	{% if user.usefilter %}	
			<div class="filtro col mb-4 fs-6 mx-5">
				<form method="GET">
					<label>Nome: </label>
					{{ filter.form.name }}
					
					<label>Email: </label>
					{{ filter.form.email }}
					
					<input class="filter_buttons" type="submit" value="Filtrar" />
					<input class="filter_buttons" type="button" value="Limpar" onclick="limparCampos()" />
				</form>
			</div>
			{% endif %}
			
		<div class="table-responsive-sm">
			<table class="table table-sm table-hover">
				<thead class="">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>E-mail</th>
						<th>Ativo</th>
						<th>Tipo</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					
					{% for user in filter.qs %}
					{% if  user.active %}
						<tr class="">
					{% else %}
						<tr class="table-secondary">
					{% endif %}
						<td>{{ user.user_id }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.active }}</td>
						<td>{{ user.get_tipo_display }}</td>
						<td>
							<a href="{% url "usuarios" opc='edit' pk=user.email %}" class="mx-2">
								<i class="fa fa-edit align-middle text-primary"></i>
							</a>
							<a href="{% url "usuarios" opc='delete' pk=user.email %}">
								<i class="fa fa-times fs-5 align-middle text-danger"></i>
							</a>
						</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
		<a href="{% url "usuarios" opc='insert' %}" class="btn btn-primary mt-4">Cadastrar Usuário</a>
	{% endif %}
	
<script>
	function limparCampos(){
		document.getElementById('id_name').value='';
		document.getElementById('id_email').value='';
	}
</script>

{% endblock content %}