{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %} Usuários {% endblock page_title %}
{% block title %} Usuários {% endblock title %}
{% block content %}
		
	{% if inclui %}

	{% elif altera %}
		
		<div class="row">
			<div class="col-xs-4 mb-2 mt-2 p-2">
				<form method="POST" >{% csrf_token %}
					
					{{ form.name|as_crispy_field }}
					{{ form.email|as_crispy_field }}
					{{ form.bloqueado|as_crispy_field }}
					{{ form.tipo|as_crispy_field }}
					{{ form.perfil|as_crispy_field }}
					{{ form.usefilter|as_crispy_field }}
					
					{% if erro %}
						<div class="form-group">
							<p class="text danger">{{ erro }}</p>
						</div>
					{% endif %}

					<input type="submit" class="btn btn-primary mt-4" value="Confirmar">
					<a href="{% url 'usuarios' %}" class="btn btn-danger mt-4">Cancelar</a>
					
				</form>
			</div>
		</div>
		
	{% else %}
		
		{% if user.usefilter %}	
			<div class="filtro col mb-4 fs-6">
				<form method="GET">
					<label>Nome: </label>
					{{ filter.form.name }}
					
					<label>Email: </label>
					{{ filter.form.email }}

					<input type="submit" value="Filtrar" />
					<input type="button" value="Limpar" />
				</form>
			</div>
		{% endif %}
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>E-mail</th>
					<th>Ativo</th>
					<th>Tipo</th>
					<th>Perfil</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
				{% for user in filter.qs %}
				<tr>
					<td>{{ user.name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.get_bloqueado_display }}</td>
					<td>{{ user.get_tipo_display }}</td>
					<td>{{ user.get_perfil_display }}</td>
					<td>
						<a href="{% url "usuarios" opc='editar' pk=user.email %}" class="btn btn-sm btn-secondary">Editar</a>
						<a href="{% url "usuarios" opc='delete' pk=user.email %}" class="btn btn-sm btn-danger">Excluir</a>
					</td>
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
		<a href="{% url 'cadastrar_usuario' %}" class="btn btn-primary mt-4">Cadastrar Usuário</a>
	{% endif %}

{% endblock content %}