{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Valores{% endblock page_title %}
{% block title %} Valores {% endblock title %}
{% block content %}

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Código</th>
				<th>Data</th>
				<th>Tipo</th>
			</tr>
		</thead>
		<tbody>
			{% for v in valores %}
			<tr>
				<td>{{ v.codigo }}</td>
				<td>{{ v.data }}</td>
				<td>{{ v.tipo }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
		
{% endblock content %}